:root {
  --primary: #c5b9a8;
  --secondary: #10110d;
  --tertiary: #82351E;
  --quatrinary: #ac7933;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.backPrimary {
  background-color: var(--primary);
}

.backSecondary {
  background-color: var(--secondary);
}

.backTertiary {
  background-color: var(--tertiary);
}

.backQuatrinary {
  background-color: var(--quatrinary);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.tertiary {
  color: var(--tertiary);
}

.quatrinary {
  color: var(--quatrinary);
}

.btnForm {
  border: none;
  outline: none;
}

.pointer {
  cursor: pointer;
}